
html, body {
  height: 100%;
}

 body {
  display: flex;
  flex-direction:row;/* 项目排列方向 */
  align-items: center;/* 交叉轴（竖轴）居中 -交叉轴对齐方式 */
  justify-content: center;/* 主轴（横轴）居中 -主轴对齐方式 */
  flex-wrap: wrap;/* 默认在一行,换行，第一行在上方 */
  font-family: 'Open Sans', sans-serif;
  
  background: linear-gradient(top, #222, #333);
} 

[class$="face"] {
  margin: 16px;
  padding: 4px;
  background-color: #e7e7e7;
  width: 104px;
  height: 104px;
  /*object-fit: contain;*/
  
  box-shadow:
    inset 0 5px white, 
    inset 0 -5px #bbb,
    inset 5px 0 #d7d7d7, 
    inset -5px 0 #d7d7d7;
  
  border-radius: 10%;
}

.spot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px;
  background-color: #333;
  box-shadow: inset 0 3px #111, inset 0 -3px #555;
}
.first-face{
  display: flex;
  justify-content: center;/* 主轴（横轴）居中 -主轴对齐方式 */
  align-items:center;
}
.second-face{
  display: flex;
  justify-content: space-between;
}
.second-face .spot:nth-of-type(2){
  align-self:flex-end;
}
.third-face{
  display: flex;
  justify-content: space-between;
}

.third-face .spot:nth-of-type(2) {
  align-self: center;
}

.third-face .spot:nth-of-type(3){
  align-self:flex-end;
}

.fourth-face,.six-face{
  display: flex;
  justify-content: space-between;
}
.fourth-face .column, .six-face .column{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.fith-face{
  display: flex;
  justify-content: space-between;
}
.fith-face .column{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.fith-face .column:nth-of-type(2) {
  align-self: center;
}








